@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}
.navbar{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: space-between;
     background-color: #fff;
     padding: 15px;
}
.navbar a{
     text-decoration: none; color: inherit;
}
.logo {
    margin-right: 50px;
}
.list{
    list-style: none;
    display: flex;
    gap: 25px;
} 
#toggler, .navbar label{
   display: none;
}
.I {
  margin: 30px;
}
img{
  margin-left: 118px;
}
.M {
  color: blue;
  text-decoration: none;
  font-size: 18px;
  border: none;
  background: none;
  font-weight: 600;
}
.card {
  width: fit-content;
  height: fit-content;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px 0px 70px;
  gap: 20px;
 
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
